.Post {
  display: flex;
  flex-direction: column;
  width:80%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px;
  overflow-y: scroll;
}

.Post::-webkit-scrollbar {
  display: none;
}

.Invite, .Invites {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(156, 191, 167, 0.6);
  border-radius: 15px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
  width:100%;
  margin-top: 10px;
  margin-bottom: 10px;
  object-fit: contain;
  overflow-y: scroll;
  
}
.Invite::-webkit-scrollbar {
  display: none;
}
.Invites::-webkit-scrollbar {
  display: none;
}



.submit {
  border-radius: 5px;
  background-color: rgb(79, 52, 90);
  color: #ffffff;
  border: none;
  height: 20px;
  width: 100px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease-in-out; /* Smooth transition for background color */
}

.submit:hover {
  background-color: rgb(93, 78, 109); /* Darker color on hover */
}

@media (max-width: 768px) {
  .Post {
    width: 80%;
  }
  .Invite, .Invites {
    max-height: 100px;
  }
}
