.Info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #ecf0f1; 
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    width: 20%;
    height: 40%;


  
  }
  
  @media (max-width: 768px) {
    .Info {
      width: 20%;
      margin-left: 0;
      height: 40%;
    }
  }
  .black{
    color: black;
  }

  .profilepic{
    width: 120px; /* Set the size of the circular container */
  height: 120px;
  border-radius: 50%; /* Make the container circular */
  overflow: hidden; /* Hide the parts of the image outside the circular container */
  border: 2px solid #fff; /* Optional: add a border to the container */
}
  