.Nav {
  display: flex;
  align-items: center;
  background-color: rgb(93, 78, 109); /* Dark purple color for the navigation bar */
  height: 50px;
  padding: 0 20px;
}

.menu__cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.menu {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.menu:hover {
  color: rgb(79, 52, 90); /* Dark purple color on hover */
}

.logo__cont {
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 15px;
  height: 50px;
}

.logo {
  max-width: 100px;
  height: auto;
  cursor: pointer;
}

.search__cont {
  margin-left: 20px;
  display: flex;
  align-items: center;
  width: 60%;
  background-color: rgb(93, 78, 109); /* Dark purple color for the search bar */
  padding: 0 10px;
  border-radius: 15px;
}

.search {
  border: 2px solid rgb(79, 52, 90); /* Dark purple border color */
  outline: none;
  flex: 1;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 20px;
  width: 100%;
  color: rgb(79, 52, 90); /* Dark purple text color */
  background-color: #fff;
}

.search__btn {
  background-color: rgb(79, 52, 90); /* Dark purple color for the button */
  border: none;
  height: 30px;
  width: 30px;
  margin-left: -30px;
  cursor: pointer;
  color: #fff;
}

.bell {
  position: relative;
  font-size: 40px;
  color: #fff;
  transition: color 0.3s ease;
  cursor: pointer;
}

.search__icon {
  font-size: large;
}

.bell:hover {
  color: rgb(79, 52, 90); /* Dark purple color on hover */
}

@media (max-width: 768px) {
  .search__cont {
    margin-left: 10px;
    padding: 0 5px;
  }
}

.menu__cont {
  position: relative;
}

.dropdown__content {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(93, 78, 109); /* Dark purple color for the dropdown */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: none;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.menu__cont:hover .dropdown__content {
  display: flex;
}

.dropdown__content a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  transition: background-color 0.3s ease-in-out;
}

.dropdown__content a:hover {
  background-color: rgb(79, 52, 90); /* Dark purple color on hover */
}
